PORT=2500
NODE_ENV=development
DATABASE_URL=postgresql://tracksys:tracksys@db:5432/tracksys?schema=public
CORS_ORIGIN=http://localhost:2500
BCRYPT_ROUNDS=12
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=8h
HACIENDA_TAXPAYER_LOOKUP_URL=https://api.hacienda.go.cr/fe/ae?identificacion={identification}
GEOCODING_SEARCH_URL=https://nominatim.openstreetmap.org/search
